
body{
    padding : 0;
    margin : 0;
    background-color: black;
    /* height : 1800px; */
    color :  white;
}
#header{
    width : 100%;
    padding : 10px 0px;
    position: sticky;
    background-color: white;
    box-sizing: border-box;
    top : 0;
    animation: mymove 5s infinite;

}
@keyframes mymove{
    from {
        background-color: white;
    }
    to{
        background-color: #44f0b5;
    }
}
#title{
    width : 60%;
    margin : auto;
    font-weight: 800;
    font-family: 'Roboto Slab', serif;
    color : black;
    font-size: 21px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}
#name{
    width : 50%;
}
#nav{
    width : 50%;
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Roboto Slab',serif;
}
#nav ul{
    display: flex;
    justify-content: space-between;
}
#occupation{
    color : #01B7FF;
    font-size: 18px ;
    font-family: 'DM Mono', monospace;
}
#main{
    width : 60%;
    margin : auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: 200px;
}
#intro
{
    width : 50%;
    box-sizing: border-box;
    font-family: 'Roboto Slab',serif;
    font-size: 46px;
    margin-right : 12px;
}
#img{
    box-sizing: border-box;
    width: 50%;
}
#img img{
    height : 100%;
    width : 100%;
}
#intro h4{
    font-weight: 500 ;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    color : #01B7FF;
    margin-bottom: 12px;
}
#brief{
    font-size: 21px;
    font-family: 'DM Mono',monospace;
    margin-top: 12px;
}
#works{
    border-radius: 15px;
    background-color: #44f0b5;
    border : 2px solid #44f0b5;
    width : 150px;
    height : 40px;
    font-size: 15px;
    color: white;
    transition: transform .2s;
    font-family: 'DM Mono',monospace;
    box-sizing: border-box;
}
#buttons a{
    color : white;
    text-decoration: none;
}
/* #Talk{
    border-radius: 15px;
    border: 1px solid white;
    background-color: black;
    color: white;
    width : 130px;
    height: 40px;
    transition: transform .2s;
    font-size: 15px;
    font-family: 'DM Mono',monospace;
    box-sizing: border-box;
    margin-left: 10px;
}
#Talk:hover{
    cursor: pointer;
    transform-origin: right;
    transform:scalex(1.05);
    background-color: #01B7FF;
} */
#works:hover{
    cursor: pointer;
    transform: scalex(1.05);
    transform-origin: left;
}
#MyWorks{
    width : 60%;
    margin : auto;
    text-align: center;
    background-color: white;
    padding-top : 8px;
}
#MyWorks h4{
    font-size: 15px;
    color : #01B7FF;
    font-family: 'DM Mono',monospace;
    font-weight: 500;
    padding : 50px 0px;
    margin-top: 12px;
    margin-bottom: 12px;
}

h1{
    font-family: 'Roberto Slab',serif;
    color : black;
}
#work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 35px;
}
#work1{
    background-color: black;
    width : 30%;
    height : 150px;
    display: flex;
    justify-content: center;
}
#work1 img{
    width : 275px;
    height :150px
}
#work1 p{
    width: 100%;
    color : #01B7FF;
}
#Skills{
    margin : auto;
    width : 60%;
    background-color: black;
    margin-top : 100px;
    margin-bottom : 100px;
    font-family: 'DM Mono',monospace;
}
#Skills h4{
    font-weight: 500;
    font-family: 'DM Mono',monospace;
    font-size : 17px;
    /* border-bottom: 12px; */
    color: #01B7FF;
}
#skill_set ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 75px;

}
#skill_set li{
    border : 2px solid white;
    padding: 6px;
    font-size: 1.3rem;
    font-family: 'Roberto Slab',serif;

}
#want{
    width : 60%;
    margin: auto;
    color: #01B7FF;
    margin : 100px auto;
    font-weight: normal;
    font-family: 'DM Mono',monospace;
}
#want ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0px;
    margin-top: 100px;
    
}
#want li{
    border : 2px solid white;
    color : white;
    padding : 6px;
    font-size: 1.3rem;
    font-family: 'Roberto Slab',serif;
}
#form{
    width : 100%;
    margin : auto;
    color: #01B7FF;
    font-size: 18px;
    font-family: 'DM Mono',monospace;
    background-color: white;
    height: auto;
}

#content{
    width : 100%;
    box-sizing: border-box;
    font-size: 1.4rem;
    color: black;
    font-family: 'Roberto Slab', serif;
    font-weight: 800;
    text-align: center;
}

ul img{
    width : 2rem;
    height : 2rem;
}
#table ul{
    display: flex;
    justify-content: space-between;
    
}
@media  screen and (max-width : 950px) {
    #nav img{
        width :  1rem;
        height: 1rem;
    }
    div#intro{
        font-size: 35px;
    }
    div#brief{
        font-size: 15px;
    }
}
@media screen and (max-width : 700px){
    #header{
        padding : 8px 0px;
    }
    #title{
        font-weight: 700;
        font-size: 15px;
    }
    div#occupation{
        font-size: 15px;
    }
    #main{
        margin-top : 100px;
        margin-bottom: 100px;
    }
    div#intro{
        font-size: 25px;
    }
    div#brief{
        font-size : 10px;
    }
    button#works{
        padding : 0px 3px;
        width : 80px;
        height : 25px;  
    }
    button#works a{
        font-size: 8px;  
    }
}
@media screen and (max-width : 600px){
    div#title{
        font-size: 12px;
        width : 80%;
        margin : auto;
    }
    div#occupation{
        font-size: 12px;
    }
    #main{
        margin-top : 75px;
        margin-bottom: 75px;
        width : 80%;
    }
    
    div#intro{
        font-size: 20px;
    }
    #intro h4{
        font-size: 11px;
    }
    div#brief{
        font-size: 10px;
    }
    div#MyWorks{
        width : 80%;
    }
    #MyWorks H4{
        font-size: 10px;
        padding : 20px 0px;
    }
    h1{
        font-size: 15px;
    }
    #work1{
        height : 100px;
    }
    #work1 img{
        height : 100px;
        width : 175px;
    }
    #Skills{
        width : 80%;
        margin-top : 75px;
        margin-bottom: 
        50px;
    }
    #Skills h4{
        font-size: 10px;
        padding-top : 18px;
        padding-bottom: 18px;
    }
    #skill_set ul{
        margin-top: 30px;
    }
    #skill_set li{
        font-size: 0.8rem;
    }
    #want{
        width : 80%;
        margin-top: 75px;
        margin-bottom: 50px;
    }
    #want ul{
        margin-top: 50px;
    }
    #want h4{
        margin-top : 20px;
        margin-bottom: 20px;
        font-size: 10px;
    }
    #want li{
        font-size: 0.8rem;
    }
    #content{
        font-size: 0.8rem;
    }

}
@media screen and (max-width : 390px){
    #nav img{
        width : 0.7rem;
        height: 0.7rem;
    }
    div#title{
        font-size: 10px;
    }
    div#occupation{
        font-size: 8px;
    }
    #main{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    div#intro{
        font-size: 13px;
        width : 40%;
        margin-right: 0px;
    }
    #img{
        width : 60%;
    }
    #intro h4{
        font-size: 9px;
    }
    div#brief{
        font-size: 8px;
    }
    h1{
        font-size : 13px
    }
    #work1 img {
        width : 150px;
    }
    #MyWorks H4{
        font-size: 9px;
        padding : 15px 0px;
    }
    h1{
        font-size: 14px;
    }
    #Skills{
        margin-top:
            50px;
        
        margin-bottom: 30px;
    }
    #Skills h4{
        font-size: 9px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #skill_set ul{
        margin-top: 25px;
        padding-left: 0px;
    }
    #skill_set li{
        font-size : 0.5rem;
        padding : 3px;
    }
    #want{
        margin-top :50px;
        margin-bottom: 30px;
    }
    #want-ul{
        margin-top: 30px;
    }
    #want h4{
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 9px;
    }
    #want li{
        font-size: 0.7rem;
    }
    #content{
        font-size: 0.7rem;
    }
}
